@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* background colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    /* text */
    --dark-gray: hsl(0, 0%, 59%)
    /* fonts */
    --fs: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fs);
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-cyan);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: top -70vh right 50vw, bottom -65vh left 50vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 2rem 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .profile-card {
    position: relative;
    width: 21rem;
    margin: 4rem 0 0;
    background: #fff;
    border-radius: 20px;
}

.profile-card .user-info {
    width: 100%;
    background: url("../images/bg-pattern-card.svg") no-repeat;
    border-radius: 20px 20px;
    padding: 5.5rem 4rem 0;
}

.user-info>img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;
}

.user-info>h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.user-info span {
    color: var(--dark-grayish-blue);
}

.user-info>p {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    margin: 0.2rem 0 1.5rem;
}

hr {
    border-width: 1px 0 0 0;
}


/* stats */

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5rem 0 1.3rem;
}

.stats div>h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.stats div>p {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}


/* for mobile */

@media (max-width: 480px) {
    body {
        background-position: top -65vh right 50vw, bottom -50vh left 50vw;
    }
}


/* for tablet */

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-position: top -77vh right 50vw, bottom -66vh left 50vw;
    }
}


/* for desktop */

@media (min-width: 1025px) {
    body {
        background-position: top -77vh right 50vw, bottom -66vh left 50vw;
    }
}